{% extends "accounts/_auth.html" %}
{% load ui %}
{% block title %}비밀번호 재설정 · Pi-Vend{% endblock %}
{% block card %}
<h2>비밀번호 재설정</h2>
<p class="sub">가입한 이메일을 입력하면 재설정 링크를 보내드려요.</p>
<form method="post">
  {% csrf_token %}
  <div class="field"><label for="id_email">이메일</label><input class="input" id="id_email" type="email" name="email" autocomplete="email" autofocus required></div>
  <button class="btn btn-primary btn-lg btn-block" type="submit">재설정 링크 받기</button>
</form>
<p class="auth-switch"><a href="{% url 'login' %}">로그인으로 돌아가기</a></p>
{% endblock %}
